/* Standarts */
:root {
	font-size: 62.5%; /* To make 1 rem = 10 px */
	--fw-300: 300;
	--fw-600: 600;
	--fw-800: 800;

	--fs-300: 1rem;
	--fs-600: 1.2rem;
	--fs-800: 2rem;

	--ff-calistoga: "Calistoga", serif;
	--ff-inter: "Inter", sans-serif;

	--color-orange: #fe6a0f;
	--color-white: #fff;
	--color-black: #141414;
	--color-darker-gray: #212121;
	--color-medium-gray: #303030;
	--color-lighter-gray: #727272;
}

* {
	margin: 0;
	padding: 0;
}

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
	max-width: 100%;
	display: block;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* 

CSS STRUCTURE 

*/

body {
	font-family: var(--ff-inter);
	color: var(--color-white);
	background-color: var(--color-black);
}

.container {
	max-width: 120rem;
	margin-inline: auto;
}

/* 

CSS ELEMENTS

*/

/* HEADER AREA */

.header {
	display: flex;
	align-items: center;
	padding-block: 3rem;
	gap: 8rem;
}

.logo {
	width: 30rem;
}

.logo a {
	width: 100%;
	display: flex;
	font-size: 5rem;
	font-family: var(--ff-calistoga);
	color: white;
	text-decoration: none;
}

.logo a span {
	color: var(--color-orange);
}

nav {
	width: 100%;
}

.header ul {
	display: flex;
	align-items: center;
	gap: 4rem;
	width: 100%;
}

.header ul li {
	list-style: none;
	font-size: 1.5rem;
}

.header ul li a {
	text-decoration: none;
	color: white;
}

.btn {
	padding: 1rem 3rem;
	border: 1px solid var(--color-white);
	border-radius: 0.5rem;
	width: 16rem;
	font-size: 1.5rem;
}

.header ul .btn {
	margin-left: auto;
}

.header ul .btn:hover {
	background-color: var(--color-orange);
}

/* BANNER MAIN */

.banner-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.banner-body h1 {
	font-size: 7rem;
	font-family: var(--ff-calistoga);
}

.banner-body p {
	margin-block: 3rem;
	max-width: 40ch;
	font-size: var(--fs-800);
	font-weight: var(--fw-300);
}

.banner-body .btn {
	background-color: var(--color-orange);
	width: 25rem;
}

.banner-body .btn:hover {
	background-color: var(--color-white);
	color: var(--color-orange);
}

.banner-body a:hover {
	color: var(--color-orange);
}

.banner-body a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: white;
}

#burguer-photo {
	position: relative;
	top: 6rem;
}

/* SEARCH AREA */

.search {
	padding-block: 5rem;
	background-color: var(--color-darker-gray);
}

.search h4 {
	font-size: 3rem;
	font-weight: var(--fw-800);
}

.search-options {
	display: flex;
	margin-top: 4rem;
}

.search-options::before {
	content: url(imgs/searchIcon.png);
	background-color: transparent;
	position: relative;
	left: 3rem;
	top: 1.5rem;
}

.search-options input[type="search"],
.search-options select {
	-webkit-appearance: none; /* Removing default styles in Safari/Chrome */
	appearance: none;
	background-color: var(--color-medium-gray);
	font-size: 1.6rem;
	color: var(--color-lighter-gray);
	padding: 1.5rem 3rem;
	border: none;
	border-radius: 5px;
	width: 30rem;
}

.search-options input[type="search"] {
	margin-right: 40rem;
	padding-inline-start: 4rem;
}

.search-options input[type="search"]::-webkit-search-clear-button,
.search-options input[type="search"]::-webkit-search-cancel-button {
	display: none; /* Hiding the clear and cancel buttons */
}

.search-options input[type="search"]::placeholder,
.search-options select {
	color: var(--color-lighter-gray);
}

/* SHOWCASE AREA */

.showcase {
	padding-block: 4rem;
}

.showcase-area {
	padding-inline: .5rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	gap: 3rem;
}

.burguer {
	display: flex;
	flex-direction: column;
}

.burguer > * {
	flex: 1;
}

.burguer .top {
	background-color: var(--color-medium-gray);
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
	padding-inline: 4rem;
	display: flex;
	justify-content: center;
}

.burguer .bottom {
	background-color: var(--color-darker-gray);
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
	padding-inline: 4rem;
	padding-block: 2rem;
}

.burguer .bottom h6 {
	font-size: var(--fs-600);
	color: var(--color-lighter-gray);
}

.burguer .bottom h4 {
	font-size: 2.5rem;
	font-family: var(--ff-calistoga);
}

.burguer .bottom h4:last-child {
	color: var(--color-orange);
}

.burguers {
	position: relative;
	right: 3.5rem;
	z-index: 0;
}

.promo {
	background-color: var(--color-orange);
	width: 100%;
	height: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: .5rem;
	margin-top: 2rem;
	position: relative;
	z-index: 1;
}

.disabled {
	background-color: transparent;
	color: transparent;
}
/* 

RESPONSIVE LAYOUT 

*/

/* TABLET */

/* MOBILE */
