/* Standarts */
:root {
	font-size: 62.5%; /* To make 1 rem = 10 px */
	--fw-300: 300;
	--fw-600: 600;
	--fw-800: 800;

	--fs-300: 1rem;
	--fs-600: 1.2rem;
	--fs-800: 2rem;

	--ff-calistoga: "Calistoga", serif;
	--ff-inter: "Inter", sans-serif;

	--color-orange: #fe6a0f;
	--color-white: #fff;
	--color-black: #141414;
	--color-darker-gray: #212121;
	--color-medium-gray: #303030;
	--color-lighter-gray: #727272;
}

* {
	margin: 0;
	padding: 0;
}

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
	max-width: 100%;
	display: block;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* 

CSS STRUCTURE 

*/

body {
	font-family: var(--ff-inter);
	color: var(--color-white);
	background-color: var(--color-black);
}

.container {
	max-width: 120rem;
	margin-inline: auto;
}

footer {
	padding-block: 3rem;
	background-color: var(--color-darker-gray);
}

.model {
	display: none;
}

/* 

CSS ELEMENTS

*/

/* HEADER AREA */

.header {
	display: flex;
	align-items: center;
	padding-block: 3rem;
	gap: 8rem;
}

.logo {
	width: 30rem;
}

.logo a {
	justify-content: center;
	width: 100%;
	display: flex;
	font-size: 5rem;
	font-family: var(--ff-calistoga);
	color: white;
	text-decoration: none;
}

.logo a span {
	color: var(--color-orange);
}

nav {
	width: 100%;
}

.header ul {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 4rem;
	width: 100%;
}

.header ul li {
	list-style: none;
	font-size: 1.5rem;
}

.header ul li a {
	text-decoration: none;
	color: white;
}

.btn {
	padding: 1rem 3rem;
	border: 1px solid var(--color-white);
	border-radius: 0.5rem;
	width: 18rem;
	font-size: 1.5rem;
}

.header ul .btn {
	margin-left: auto;
}

.header ul .btn:hover {
	background-color: var(--color-orange);
}

/* BANNER MAIN */

.banner-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.banner-body h1 {
	font-size: 7rem;
	font-family: var(--ff-calistoga);
}

.banner-body p {
	margin-block: 3rem;
	max-width: 40ch;
	font-size: var(--fs-800);
	font-weight: var(--fw-300);
}

.banner-body .btn {
	background-color: var(--color-orange);
	width: 25rem;
}

.banner-body .btn:hover {
	background-color: var(--color-white);
	border-color: var(--color-orange);
	color: var(--color-orange);
}

.banner-body a:hover {
	color: var(--color-orange);
}

.banner-body a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: white;
}

#burguer-photo {
	position: relative;
	top: 6rem;
}

/* SEARCH AREA */

.search {
	padding-block: 5rem;
	background-color: var(--color-darker-gray);
}

.search h4 {
	font-size: 3rem;
	font-weight: var(--fw-800);
}

.search-options {
	display: flex;
	margin-top: 4rem;
}

.search-options::before {
	content: url(imgs/searchIcon.png);
	background-color: transparent;
	position: relative;
	left: 3rem;
	top: 1.5rem;
}

.search-options input[type="search"],
.search-options select {
	-webkit-appearance: none; /* Removing default styles in Safari/Chrome */
	appearance: none;
	background-color: var(--color-medium-gray);
	font-size: 1.6rem;
	color: var(--color-lighter-gray);
	padding: 1.5rem 3rem;
	border: none;
	border-radius: 5px;
	width: 30rem;
}

.search-options input[type="search"] {
	padding-inline-start: 4rem;
	margin-right: 3rem;
}

.search-options input[type="search"]::-webkit-search-clear-button,
.search-options input[type="search"]::-webkit-search-cancel-button {
	display: none; /* Hiding the clear and cancel buttons */
}

.search-options input[type="search"]::placeholder,
.search-options select {
	color: var(--color-lighter-gray);
}


/* SHOWCASE AREA */

.showcase {
	padding-block: 4rem;
}

.showcase-area {
	padding-inline: 0.5rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	gap: 3rem;
}

.burguer {
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.burguer > * {
	flex: 1;
}

.burguer .top {
	background-color: var(--color-medium-gray);
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
	padding-inline: 4rem;
}

.burguer .top img {
	margin-inline: auto;
}

.burguer .bottom {
	background-color: var(--color-darker-gray);
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
	padding-inline: 4rem;
	padding-block: 2rem;
}

.burguer .bottom h6 {
	font-size: var(--fs-600);
	color: var(--color-lighter-gray);
}

.burguer .bottom h4 {
	font-size: 2.5rem;
	font-family: var(--ff-calistoga);
}

.burguer .bottom h4:last-child {
	color: var(--color-orange);
}

.burguers {
	position: relative;
	right: 3rem;
	z-index: 0;
}

.promo {
	background-color: var(--color-orange);
	width: 50%;
	height: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.5rem;
	margin-top: 2rem;
	position: relative;
	top: 2rem;
	z-index: 1;
}

.disabled {
	background-color: transparent;
	color: transparent;
}

/* Select animation */
.burguer {
	transform: scale(1);
	transition: transform 0.5s ease;
}

/* Scale up */
.burguer:hover {
	transform: scale(1.05);
}

/* Scale down */
.burguer:not(:hover) {
	transform: scale(0.95);
}

/* MODAL AREA */

.modal,
.cart-area {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.2);
	transition: all ease .5s;
}

.modal-body,
.cart-body {
	display: flex;
	gap: 0 10rem;
	padding: 3rem 2rem;
	border-radius: 5rem;
	max-width: 1100px;
	max-height: 80%;
	height: 100%;
	background-color: var(--color-white);
	color: var(--color-medium-gray);
	font-size: var(--fs-800);
	font-family: var(--ff-inter);
	overflow-y: scroll;
}

.modal-body .body-left {
	flex: 1;
	display: flex;
}

.modal-body .body-right {
	flex: 2;
}

.body-left img {
	width: 100%;
	align-self: center;
}

.body-left span,
.cart-area span {
	font-size: 4rem;
	cursor: pointer;
}

.modal-body .title,
.modal-body .category,
.modal-body .desc,
.modal-body .price {
	display: flex;
	align-items: center;
}

.modal-body .title {
	font-size: 6rem;
	font-family: var(--ff-calistoga);
	font-weight: var(--fw-800);
	color: var(--color-orange);
}

.modal-body .category {
	font-size: 1.8rem;
	color: var(--color-lighter-gray);
	margin-bottom: 2rem;
}

.modal-body .desc {
	font-weight: var(--fw-300);
	margin-bottom: 4rem;
}

.modal-body .price,
.total-price {
	font-size: 4rem;
	color: var(--color-orange);
	font-family: var(--ff-calistoga);
	margin-bottom: 3rem;
}

#addCart,
#cancelModal,
#buyCart,
#cancelCart{
	margin-inline: auto;
	border: none;
	padding: 1rem 2rem;
	border-radius: 4rem;
	cursor: pointer;
	margin-block: 3rem;
}

#promoCart {
	display: none;
	margin-left: 5rem;
	border: 1px solid var(--color-black);
	padding: 1rem 2rem;
	font-size: 1.6rem;
	border-radius: 2rem;
}

#addCart,
#buyCart{
	background-color: var(--color-orange);
	color: var(--color-white);
	border: 1px solid var(--color-black);
}

#cancelModal,
#cancelCart {
	background-color: transparent;
	border: 1px solid var(--color-black);
	margin-left: 4rem;
}

#addCart:hover,
#buyCart:hover {
	color: var(--color-black);
}

#cancelModal:hover,
#cancelCart:hover {
	color: var(--color-black);
}

.details {
	display: flex;
	flex-direction: column;
	padding-top: 2rem;
}

.details .title {
	margin-bottom: 2rem;
}

.details textarea {
	width: 80%;
	height: 8rem;
	font-size: var(--fs-600);
	padding: 1rem;
}

.hamb-qte {
	display: flex;
	align-items: center;
	width: 15rem;
	gap: 1rem;
}

.hamb-qte button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2.5rem;
	background-color: transparent;
	border: 1px solid var(--color-black);
	border-radius: 1rem;
	cursor: pointer;
}

.additions {
	border-top: 1px solid var(--color-darker-gray);
	margin-top: 3rem;
	padding-top: 2rem;
	display: flex;
	flex-direction: column;
}

.additions .title,
.details .title {
	font-size: 3rem;
}

.add {
	padding-block: 1rem;
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--color-lighter-gray);
}

.add-text {
	font-weight: var(--fw-300);
	text-align: left;
}

.custom-checkbox {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;
	border: 1px solid var(--color-black);
	margin-left: auto;
	margin-right: 2rem;
	cursor: pointer;
}

.custom-checkbox img {
	display: none;
}

.custom-checkbox img.checked {
	display: flex;
	max-width: 100%;
}

/* CART AREA */

.cart-area {
	display: none;
}

.cart-body {
	flex-direction: column;
	width: 600px;
}

.burguer-cart {
	display: flex;
	align-items: center;
	margin-top: 2rem;
}

.burguer-cart .title {
	margin-left: 4rem;
}

.burguer-cart .hamb-qte {
	margin-left: auto;
	width: auto;
}

.burguer-cart img {
	width: 10rem;
}

.total-price {
	margin-top: 2rem;
}

.cart-buttons {
	display: flex;
	justify-content: center;
}

#buyCart,
#cancelCart {
	margin: 0;
}

#cancelCart {
	margin-left: 4rem;
}

/* FOOTER */

.footer {
	display: flex;
	flex-direction: flex-start;
	align-items: center;
}

.footer p {
	margin-left: auto;
}

/* 

RESPONSIVE LAYOUT 

*/

/* TABLET */

@media (width <= 800px) {
	.container {
		max-width: 690px;
	}

	ul {
		padding-inline: 1rem;
	}

	.header {
		flex-direction: column;
		gap: 1rem;
	}

	.banner-body {
		padding-inline: 1rem;
	}

	.banner-main {
		flex-direction: column;
	}

	.banner-main .btn {
		margin-inline: auto;
	}

	.search h4 {
		padding-inline: 1rem;
	}

	.search-options input[type="search"] {
		margin-right: 2rem;
	}

	.search form {
		margin-top: 0px;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}

	.search-options::before {
		position: relative;
		left: -13rem;
		top: 5.2rem;
	}
	
	.search {
		padding-inline: 1rem;
	}
	
	.search-options input[type="search"],
	.search-options select {
		margin-right: 0;
	}

	.showcase-area {
		grid-template-columns: repeat(2, 1fr);
	}
	
	.footer {
		padding-inline: 1rem;
	}

	/* Scale up */
	.burguer:hover {
		transform: scale(.95);
	}
	
	/* Scale down */
	.burguer:not(:hover) {
		transform: scale(0.9);
	}
	
	.burguer {
		scale: 1;
	}

	.modal-body {
		flex-direction: column;
		align-items: center;
		margin-inline: 3rem;
		text-align: center;
	}
	
	.cart-body {
		margin-inline: 3rem;
	}

	.body-left{
		flex-direction: column;
		align-items: center;
	}

	.modal #addCart,
	.modal #cancelModal {
		margin: 1rem auto;
	}
}

/* MOBILE */

@media (width <= 450px) and (width > 300px) {
	.container {
		max-width: 375px;
	}

	.header ul {
		justify-content: center;
	}

	.header ul .btn {
		margin-inline: auto;
	}

	.banner-body h1 {
		font-size: 5rem;
		text-align: center;
	}

	.banner-body p {
		font-size: var(--fs-600);
		max-width: 100%;
		text-align: center;
	}

	.search h4 {
		font-size: 2rem;
	}

	.showcase-area {
		grid-template-columns: 1fr;
	}

	.footer {
		flex-direction: column;
		align-items: center;
	}

	.footer p {
		margin-left: 0;
	}

	.modal,
	.cart-area {
		font-size: 1.2rem;
	}

	.modal > *,
	.cart-area > * {
		font-size: inherit;
	} 

	.modal .title {
		font-size: 3rem;
	}

	.modal .desc {
		justify-content: center;
		max-width: 80%;
	}
	.modal img {
		max-width: 180px;
	}

	.modal-body {
		flex-direction: column;
		align-items: center;
		margin-inline: 3rem;
		text-align: center;
	}
	
	.cart-body {
		margin-inline: 3rem;
	}

	.body-left{
		flex-direction: column;
		align-items: center;
	}

	.modal #addCart,
	.modal #cancelModal {
		margin: 1rem auto;
	}

	.body-right {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.body-right .price {
		flex-direction: column;
		align-items: center;
	}

	.body-right #promoCart {
		margin-inline: 0;
	}

	.body-right .additions {
		width: 100%;
		margin-inline: 1rem;
	}

	.hamb-qte {
		justify-content: center;
	}

	.details {
		align-items: center;
	}

	.details textarea {
		width: 100%;
		min-height: 10rem;
	}
}